body {
    all: unset;

    background-color: #f4f4f9;
}

.center {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

input {
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}